.board-page {
  height: 100vh;

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin: 2em 7em;
  }
}
